.label-text{
    font-size: 10px;
}

.box-options{
    background: rgb(255, 255, 254);
    border: 1px solid rgb(187, 183, 183);
    margin-top: 100px;
    height: 220px;
    border-radius: 10px 10px 10px 10px;
}

.box-options-input {
    margin: 5px;
}